<div class="col-12 text-center">
  <div class="col-4 col-xs-12 signup-box">
    <div class="col-12">
      <div class="body-font">Sign In<span id="errorMsg" class="shift-right"></span></div>
      <!-- <div class="hr"></div> -->
      <form id="signupForm">
        <div class="label shift-right">Username</div>
        <input type="text" class="form-ele pointer" id="username">
        <div class="label shift-right">Password</div>
        <input type="password" class="form-ele pointer" id="password">
        <button type="button" class="btn pointer" onclick="signUp()">Next</button>
      </form>
    </div>
  </div>
</div>
